/* === CSS Variables === */
:root {
    --background: rgba(0, 0, 0, 0.925);
    --text: rgba(249, 79, 109, 1); /* Red text for the timer */
    --scoreboard: rgba(8, 0, 1, 1);
    --timer-bg: rgba(0, 0, 0, 0.8); /* Black background for the timer card */
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

/* === Background GIF Styles === */
.background {
    position: fixed; /* Stay fixed */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
    z-index: -1; /* Ensure it's behind all other content */
}

/* === Fonts === */
@font-face {
    font-family: "Cursed Timer ULiL", sans-serif;
    src: url(fonts/CursedTimerULiL.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'VT323';
    src: url(fonts/VT323-Regular.ttf) format('truetype');
}

body {
    background-color: var(--background);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* === Scoreboard Styles === */
.scoreboard {
    background-color: #61666e;
    color: var(--text);
    width: min(50%, 34em);
    position: relative; /* Keep relative for layout */
    padding: 2em;
    border-radius: 0.5em;
    display: grid;
    gap: 50px; /* Space between teams */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Shadow for depth */
}

.team {
    text-align: center;
    background-color: var(--timer-bg);
    padding: 1.5em;
    border-radius: 0.5em;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.team h2 {
    color: #ffffff;
}

.team p {
    font-family: 'CursedTimer', sans-serif;
    color: #ffffff;
    font-size: 2.5em;
}

button {
    cursor: pointer;
}

.team button {
    background-color: #FFF5F5;
    border: none;
    outline: none;
    padding: 0.5em; /* Consistent padding */
    border-radius: 0.3em;
    font-weight: 600;
    font-size: 1.2em;
    width: 35px; /* Fixed width */
    height: 35px; /* Fixed height */
    cursor: pointer;
    transition: background-color 0.3s;
}

.team button:hover {
    background-color: #e7e7e7; /* Change background on hover */
}

#teamAScore,
#teamBScore {
    color: rgb(184, 21, 51); /* Red text */
    font-family: "Cursed Timer ULiL", sans-serif;
    font-size: 2.5em; /* Font size for score */
}

/* Media Query for Smaller Screens */
@media (max-width: 600px) {
    .scoreboard {
        padding: 1.5em;
    }

    .timer {
        font-size: 2em; /* Adjust font size for the timer */
        width: 8em; /* Adjust width for smaller screens */
    }

    .team p {
        font-size: 2em; /* Further adjust font size for scores */
    }

    .team button {
        font-size: 1em; /* Adjust button font size */
        padding: 0.4em; /* Adjust button padding */
    }
}

